# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on:
  push:
    branches: [ main ]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    name: ${{matrix.os}}-${{matrix.python-version}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Local install
        run: |
          python -m pip install . --upgrade
      - name: Install Test Deps
        run: |
          python -m pip install pytest pytest-cov coverage
      - name: Tests
        run: |
          python -m pytest tests/test_nhl.py
